
<div class="container-fluid p-3" style="background-color:rgb(146, 213, 213);flex: 1;min-height: 100%;">
        <div class="container mt-3">
            <h3>Seu carrinho</h3>
            <p>Resumo do Pedido</p>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-success">
                        <tr>
                            <th>Descrição</th>
                            <th colspan="2"></th>
                            <th>Opção</th>
                            <th>Quantidade</th>
                            <th>Valor unitário</th>
                            <th>Valor total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                <div class="imag1 img-fluid">
                                    <a href="./produto-detalhe" class="d-block text-decoration-none">
                                        <img src="../../assets/MJJAQ2.webp" alt="Imagem do Disco" width="60px">
                                    </a>
                                </div>
                            </td>
                            <td colspan="2">Réplica Jaqueta Thriller<br><p class="categoria"><b>Categoria: </b>Acessórios</p></td>
                            <td>Tamanho: <b>M</b></td>
                            <td>
                                <a class="btn btn-default" type="submit" href="#">
                                    <span>
                                        <img src="../../assets/remove.png" alt="icone-remover" width="20" class="rounded-circle">
                                    </span>
                                </a>  
                                1
                                <a class="btn btn-default" type="submit" href="#">
                                    <span>
                                        <img src="../../assets/add.png" alt="icone-adicionar" width="20" class="rounded-circle">
                                    </span>
                                </a>                                                  
                            </td>
                            <td>R$ 640,00</td>
                            <td>R$ 640,00</td>
                        </tr>
                        <tr class="border-bottom">
                            <td class="text-center">
                                <div class="imag1 img-fluid">
                                    <a href="./produto-detalhe" class="d-block text-decoration-none">
                                        <img src="../../assets/Foto1.jpg" alt="Imagem do Disco" width="60px">
                                    </a>
                                </div>
                            </td>
                            <td colspan="2">Vida - Chico Buarque<br><p class="categoria"><b>Categoria: </b>Discos de Vinil</p></td>
                            <td><b>-</b></td>
                            <td>
                                <a class="btn btn-default" type="submit" href="#">
                                    <span>
                                        <img src="../../assets/remove.png" alt="icone-remover" width="20" class="rounded-circle">
                                    </span>
                                </a>  
                                2
                                <a class="btn btn-default" type="submit" href="#">
                                    <span>
                                        <img src="../../assets/add.png" alt="icone-adicionar" width="20" class="rounded-circle">
                                    </span>
                                </a> 

                            </td>
                            <td class="text-right">R$ 80,00</td>
                            <td class="text-right">R$ 160,00</td>
                        </tr>
                        <tr>
                            <td class="text-left" colspan="3">Digite o CEP para calcular o frete:</td>
                            <td colspan="1"><input type="text" class="form-control" placeholder="00000-000" name="cep" style="width: 120px;"></td>
                            <td><button type="submit" class="btn btn-primary" style="width: 100px;">Calcular</button></td>
                            <td><b>Frete:</b></td>
                            <td class="text-right">R$ 0,00</td>
                        </tr>
                        <tr>
                            <td class="text-left" colspan="3">Possui cupom? <p class="categoria">(Opcional)</p></td>
                            <td colspan="1"><input type="text" class="form-control" name="cupom" style="width: 120px;"></td>
                            <td><button type="submit" class="btn btn-primary" style="width: 100px;">Inserir</button></td>
                            <td><b>Cupom:</b></td>
                            <td class="text-right">R$ 0,00</td>
                        </tr>
                    </tbody>
                    <thead class="table-success">
                        <tr>
                        <th colspan="5"></th>
                        <th>Total:</th>
                        <th>R$ 800,00</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="conteiner mb-3 row">
                <div class="col text-center">
                    <a href="./vitrine" class="d-block text-decoration-none">
                        <button class="btn btn-primary" type="button">Continuar comprando</button>
                    </a> 
                </div>
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col text-center">
                    <a href="#" class="d-block text-decoration-none">
                        <button class="btn btn-primary" type="button">Ir para pagamento</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
