<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: auto;
  margin: 0;
}

</style>

<!-- Grid Dos Produtos -->
<div class=container-fluid style="background-color:rgb(146, 213, 213)">
    <div class="container">        
        <div class="row">
            <div class="col-sm-5 col-md-6 d-flex align-items-center">
                <div class="imag1 text-center" style="background-color:rgb(146, 213, 213)">
                    <div class="Titulo">
                        <p class="paragrafo2">
                        <h3>Réplica Jaqueta Thriller</h3>
                    </div>
                    <div class="imag1 img-fluid">
                        <div id="demo" class="carousel slide" data-bs-ride="carousel">

                            <!-- Indicators/dots -->
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                            </div>
                            
                            <!-- The slideshow/carousel -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                <img src="../../assets/MJJAQ2.webp" alt="Jaqueta Frente" class="d-block" style="width:100%">
                                </div>
                                <div class="carousel-item">
                                <img src="../../assets/MJJAQ1.webp" alt="Jaqueta Costas" class="d-block" style="width:100%">
                                </div>
                                <div class="carousel-item">
                                <img src="../../assets/MJJAQ3.webp" alt="Jaquetas" class="d-block" style="width:100%">
                                </div>
                                <div class="carousel-item">
                                <img src="../../assets/MJJAQ4.webp" alt="Tabela de Medidas" class="d-block" style="width:100%">
                                </div>
                            </div>
                            
                            <!-- Left and right controls/icons -->
                            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </button>
                            </div>
                    </div>
                </div>          
            </div>
            <div class="col-sm-5 col-md-6 d-flex align-items-center p-6">
                <div style="background-color:rgb(146, 213, 213)">
                    <p class="descricao" style="background-color:rgb(146, 213, 213)"><br><br><br>
                        Você quer ter um pedaço do legado de Michael Jackson e fazer uma declaração de moda única? Apresentamos a Jaqueta "Thriller" - a peça de vestuário icônica que celebra o álbum mais lendário da história da música. Lançado no final de 1982. Este álbum é amplamente reconhecido como um dos álbuns mais influentes e vendidos de todos os tempos e tem um lugar de destaque na história da música.
                    </p>
                    <p class="categoria"><b>Categoria:</b> Acessórios</p>
                    <form>
                        <div class="col-md-6">
                            <label for="tamanho">Escolha o tamanho:</label>
                            <select id="Tamanho" class="form-select" required>
                                <option selected></option>
                                <option>XXS</option><option>XS</option> 
                                <option>S</option><option>M</option> 
                                <option>L</option><option>XL</option>
                                <option>XXL</option><option>XL</option>  
                            </select>
                            <label for="quantidade">Selecione a quantidade:</label>
                            <select id="Tamanho" class="form-select" required>
                                <option selected></option>
                                <option>1</option><option>2</option> 
                                <option>3</option><option>4</option> 
                                <option>5</option><option>6</option>
                            </select>
                            <br>
                        </div>
                    </form>
                    <p class="preco">R$ 640,00</p>
                    <p class="preco-detalhe">em até 10x sem juros de R$ 64,00!</p>
                    <p class="text-justify" style="background-color:rgb(146, 213, 213)">
                        <b><br>Atenção: peça feita sob encomenda!</b><br>
                        Prazo para confecção: 10 dias!
                    </p>
                    <div class="mb-3 row">
                        <div class="col">
                            <a href="./vitrine" class="d-block text-decoration-none">
                                <button class="btn btn-primary" type="button" style="width: 250px;">Continuar comprando</button>
                            </a>
                        </div>
                        <div class="col">
                            <a href="./cesta" class="d-block text-decoration-none">
                                <button class="btn btn-primary" type="button" style="width: 250px;">   Ir para o carrinho   </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>                       
    </div>
    <div class="container">
        <h4>Características do Produto</h4>
        <table class="table table-borderless">
            <thead>
              <tr>
                <th>Produto</th>
                <th>Marca</th>
                <th>Cor</th>
                <th>Material Principal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jaqueta</td>
                <td>Ts Rock Heroes</td>
                <td>Vermelho</td>
                <td>Couro sintético</td>
              </tr>
            </tbody>
        </table>
        <br>
    </div>     
</div>

